.cabecallho{
    background-color: #1667C6;
    color: white;
    display: flex;
    justify-content: space-around;
}
    
    

.cabecalho-imagem{
    width: 4%;
}


.cabecalho-lista-item{
    display: inline-block;
}